@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

body{
    font-family: 'Oswald';
    font-size: 14px;
}

h1{
    font-family: 'Bungee Inline';
    font-size: 46px;
    font-weight: lighter;
}
h2{
    font-variant: small-caps;
}
#starters{
    border: solid 2px black
}
#desserts{
    border: solid 2px black
}

<<<<<<< HEAD
nav {font-family: sans-serif; font-size: 10px;}

#main {width: 900px; margin: 10px auto;}
=======

nav {font-family: sans-serif; font-size: 10px;}

#main {width: 900px; margin: 10px auto;}


>>>>>>> 2fb72c8975b724a5ce809e37d52397c55cd780ca

#menu {columns: 420px 2; column-gap: 60px;
    
}
section {margin-bottom: 20px; padding: 10px;}

<<<<<<< HEAD
h2 {margin-top: 0;}

=======

h2 {margin-top: 0;}


>>>>>>> 2fb72c8975b724a5ce809e37d52397c55cd780ca
dt {display: inline;
    font-weight: bold;
    font-size: 16px;
}
<<<<<<< HEAD
=======

>>>>>>> 2fb72c8975b724a5ce809e37d52397c55cd780ca

dd {display: inline; margin: 0;}
dd::after {content: " "; display: block; clear: both; margin-bottom: 15px;}

.price {float: right; padding: 0 0 35px 20px;}

address{
    text-align: right;
}
<<<<<<< HEAD
=======


>>>>>>> 2fb72c8975b724a5ce809e37d52397c55cd780ca
